<h2 mat-dialog-title>Edit Event</h2>
<mat-dialog-content class="container">
  <form [formGroup]="eventForm" class="row">
    <div class="col">
      <div class="d-flex flex-column">
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input
            type="text"
            matInput
            formControlName="title"
            placeholder="Defeat 5 slimes"
          />
          @if (eventForm.hasError("required")) {
            <mat-error>Title is <strong>required</strong></mat-error>
          }
        </mat-form-field>

        <button
          class="tag-menu--button btn btn-secondary"
          [matMenuTriggerFor]="tagCategories"
        >
          {{ eventForm.get("tag")!.value | titlecase }}
        </button>
        <mat-menu #tagCategories="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="activity">
            Activities
          </button>
          <button mat-menu-item [matMenuTriggerFor]="character">
            Characters
          </button>
          <button mat-menu-item [matMenuTriggerFor]="crop">Crops</button>
        </mat-menu>
        <br />

        <mat-menu #activity="matMenu">
          @for (activity of activitiesTags; track activity) {
            <button mat-menu-item (click)="updateSelectedTag(activity)">
              {{ activity | titlecase }}
            </button>
          }
        </mat-menu>

        <mat-menu #character="matMenu">
          @for (character of charactersTags; track character) {
            <button mat-menu-item (click)="updateSelectedTag(character)">
              {{ character | titlecase }}
            </button>
          }
        </mat-menu>

        <mat-menu #crop="matMenu">
          @for (crop of cropsTags; track crop) {
            <button mat-menu-item (click)="updateSelectedTag(crop)">
              {{ crop | titlecase }}
            </button>
          }
        </mat-menu>

        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea
            matInput
            formControlName="description"
            placeholder="Task from adventurers guild."
          ></textarea>
        </mat-form-field>
        <mat-slide-toggle formControlName="isRecurring">
          Recurring
        </mat-slide-toggle>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button type="button" (click)="cancel()" class="btn btn-light">Cancel</button>
  <button
    type="button"
    class="btn btn-primary"
    [disabled]="!eventForm.valid"
    (click)="editEvent()"
  >
    Edit
  </button>
</mat-dialog-actions>
