<div class="body container-fluid h-100">
  <nav class="navbar navbar-expand-lg bg-light d-flex justify-content-center">
    @if (navTitle$ | async; as navTitle) {
      <h1 class="navbar--heading">{{ navTitle }}</h1>
    }
    <div class="navbar--menu">
      <button mat-icon-button [matMenuTriggerFor]="settingsMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #settingsMenu="matMenu">
        <button mat-menu-item (click)="openEditCalendarDialog()">
          Edit Calendar
        </button>
        <button mat-menu-item (click)="openSelectDialog()">
          Select Calendar
        </button>
        <button mat-menu-item (click)="openCreateDialog()">Create New</button>
        <button
          mat-menu-item
          [disabled]="disableDelete()"
          (click)="deleteCalendar()"
        >
          Delete
        </button>
      </mat-menu>
    </div>
  </nav>

  <mat-drawer-container class="app max-height" autosize>
    <mat-drawer class="max-height" #drawer mode="side" position="end">
      <app-day-form class="max-height"></app-day-form>
    </mat-drawer>
    <app-calendar class="body__calendar"></app-calendar>
  </mat-drawer-container>
</div>
