<div class="footer d-flex align-items-center w-100">
  <div class="action-buttons w-100 d-flex justify-content-between p-3">
    <a
      href="https://github.com/Anlanther/stardew-valley-calendar/issues"
      class="action-button"
      target="_blank"
      >I found an issue</a
    >
    <a href="https://ko-fi.com/anlanther" target="_blank" class="action-button">
      <img
        class="kofi-icon"
        src="https://ko-fi.com/LandingPageAssets/img/logomarkLogo2024.png"
        alt="Ko-Fi"
      />Support</a
    >
  </div>
</div>
