<div class="container">
  @if (activeCalendar$ | async; as activeCalendar) {
    <button mat-icon-button (click)="closeSideNav()">
      <mat-icon>close</mat-icon>
    </button>
    <h3>{{ selectedDate$ | async }}</h3>
    @if (activeEvents$ | async; as activeEvents) {
      <div class="form-body">
        <mat-accordion class="accordion" multi>
          @for (
            activeEvent of activeEvents;
            track activeEvent;
            let index = $index
          ) {
            <mat-expansion-panel>
              <mat-expansion-panel-header class="accordion__header">
                <mat-panel-title
                  ><img
                    [src]="getEventIcon(activeEvent.tag)"
                    alt="icon"
                    class="event-icon"
                /></mat-panel-title>
                <mat-panel-description>
                  {{ activeEvent.title }}
                </mat-panel-description>
              </mat-expansion-panel-header>
              @if (!activeEvent.type.includes("system")) {
                <button mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="openEditDialog(activeEvent)">
                    Edit
                  </button>
                  <button
                    mat-menu-item
                    (click)="
                      openDeleteDialog(activeEvent.id, activeEvent.title)
                    "
                  >
                    Delete
                  </button>
                </mat-menu>
              }
              {{ activeEvent.description }}
            </mat-expansion-panel>
          }
        </mat-accordion>
      </div>

      <button class="btn btn-primary" (click)="openCreateDialog()">
        Create Event
      </button>
    } @else {
      <p>Please select a day from the calendar on the left.</p>
    }
  }
</div>
