@if (status$ | async; as status) {
  @if (status === noApi) {
    <app-welcome>
      <section class="fail-message">
        <p>
          Please start up the Strapi server to begin. You may find instructions
          on how to do so
          <a
            href="https://github.com/Anlanther/stardew-valley-calendar?tab=readme-ov-file#setting-up-strapi-locally"
            >here</a
          >. Reload when it is ready.
        </p>
        <p>
          Alternatively, you may use the `Offline Mode` button below, however
          your changes will not be persisted and
          <strong>will be lost</strong> whenever the page is reloaded.
        </p>
      </section>
      <section class="welcome__actions d-flex">
        <button class="btn btn-primary" (click)="setOfflineMode()">
          Offline Mode
        </button>
      </section>
    </app-welcome>
  } @else if (status === noCalendars) {
    <app-welcome>
      <p class="no-existing-message">Please create a calendar to start.</p>
      <section class="welcome__actions d-flex">
        <button class="btn btn-primary" (click)="openCreateDialog()">
          Create New
        </button>
        <button
          class="btn btn-primary"
          mat-raised-button
          (click)="fileInput.click()"
        >
          Load Calendar
        </button>
        <input
          hidden
          (change)="onFileChange($event)"
          #fileInput
          type="file"
          accept=".json"
          id="file"
        />
      </section>
    </app-welcome>
  } @else if (status === noSelectedCalendar) {
    <app-welcome>
      <p class="with-existing-message">
        Please select a calendar or create one to start.
      </p>
      <section class="welcome__actions d-flex">
        <button class="btn btn-primary" (click)="openSelectDialog()">
          Select Calendar
        </button>
        <button class="btn btn-primary" (click)="openCreateDialog()">
          Create New
        </button>
        <button
          class="btn btn-primary"
          mat-raised-button
          (click)="fileInput.click()"
        >
          Load Calendar
        </button>
        <input
          hidden
          (change)="onFileChange($event)"
          #fileInput
          type="file"
          id="file"
          accept=".json"
        />
      </section>
    </app-welcome>
  } @else if (status === ready) {
    <app-main></app-main>
  }
}
