@if (status$ | async; as status) {
  @if (status === noApi) {
    <app-welcome>
      <p>
        Please start up the Strapi server to begin. You may find instructions on
        how to do so
        <a
          href="https://github.com/Anlanther/stardew-valley-calendar/blob/main/README.md"
          >here</a
        >. Reload when it is ready.
      </p>
      <section class="welcome__actions d-flex">
        <button class="btn btn-primary" (click)="setOfflineMode()">
          Offline Mode
        </button>
      </section>
    </app-welcome>
  } @else if (status === noCalendars) {
    <app-welcome>
      <p>Please create a calendar to start.</p>
      <section class="welcome__actions d-flex">
        <button class="btn btn-primary" (click)="openCreateDialog()">
          Create New
        </button>
        <button
          class="btn btn-primary"
          mat-raised-button
          (click)="fileInput.click()"
        >
          Load Calendar
        </button>
        <input
          hidden
          (change)="onFileChange($event)"
          #fileInput
          type="file"
          accept=".json"
          id="file"
        />
      </section>
    </app-welcome>
  } @else if (status === noSelectedCalendar) {
    <app-welcome>
      <p>Please select a calendar or create one to start.</p>
      <section class="welcome__actions d-flex">
        <button class="btn btn-primary" (click)="openSelectDialog()">
          Select Calendar
        </button>
        <button class="btn btn-primary" (click)="openCreateDialog()">
          Create New
        </button>
        <button
          class="btn btn-primary"
          mat-raised-button
          (click)="fileInput.click()"
        >
          Load Calendar
        </button>
        <input
          hidden
          (change)="onFileChange($event)"
          #fileInput
          type="file"
          id="file"
          accept=".json"
        />
      </section>
    </app-welcome>
  } @else if (status === ready) {
    <app-main></app-main>
  }
}
