@if (status$ | async; as status) {
  @if (status === noApi) {
    <app-welcome>
      <section class="fail-message">
        <p>
          By clicking on <strong>Offline Mode</strong>, you must make sure to
          download your calendar before you leave the app using the option in
          the <strong>...</strong> menu next to the title of your calendar. You
          can load the downloaded file the next time you use the app otherwise
          it will be lost the next time the page is reloaded.
        </p>
        <p>
          If you want your changes to be persisted while using the app and saved
          into a local server, please follow the following instructions on how
          to do so
          <a
            href="https://github.com/Anlanther/stardew-valley-calendar?tab=readme-ov-file#setting-up-strapi-locally"
            >here</a
          >.
        </p>
        <p>
          If you find any issues, please report them
          <a href="https://github.com/Anlanther/stardew-valley-calendar/issues"
            >here</a
          >.
        </p>
      </section>
      <section class="welcome__actions d-flex">
        <button class="btn btn-primary" (click)="setOfflineMode()">
          Offline Mode
        </button>
      </section>
    </app-welcome>
  } @else if (status === noCalendars) {
    <app-welcome>
      <p class="no-existing-message">Please create a calendar to start.</p>
      <section class="welcome__actions d-flex">
        <button class="btn btn-primary" (click)="openCreateDialog()">
          Create New
        </button>
        <button
          class="btn btn-primary"
          mat-raised-button
          (click)="fileInput.click()"
        >
          Load Calendar
        </button>
        <input
          hidden
          (change)="onFileChange($event)"
          #fileInput
          type="file"
          accept=".json, .txt"
          id="file"
        />
      </section>
    </app-welcome>
  } @else if (status === noSelectedCalendar) {
    <app-welcome>
      <p class="with-existing-message">
        Please select a calendar or create one to start.
      </p>
      <section class="welcome__actions d-flex">
        <button class="btn btn-primary" (click)="openSelectDialog()">
          Select Calendar
        </button>
        <button class="btn btn-primary" (click)="openCreateDialog()">
          Create New
        </button>
        <button
          class="btn btn-primary"
          mat-raised-button
          (click)="fileInput.click()"
        >
          Load Calendar
        </button>
        <input
          hidden
          (change)="onFileChange($event)"
          #fileInput
          type="file"
          id="file"
          accept=".json"
        />
      </section>
    </app-welcome>
  } @else if (status === ready) {
    <app-main></app-main>
  }
}
