<h2 mat-dialog-title>Edit Event</h2>
<mat-dialog-content class="container">
  <form [formGroup]="eventForm" class="row">
    <div class="col">
      <div class="d-flex flex-column">
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input
            type="text"
            matInput
            formControlName="title"
            placeholder="Defeat 5 slimes"
          />
          @if (eventForm.hasError("required")) {
            <mat-error>Title is <strong>required</strong></mat-error>
          }
        </mat-form-field>

        <button
          class="tag-menu--button btn btn-secondary"
          [matMenuTriggerFor]="tagCategories"
        >
          {{ selectedTag }}
        </button>
        <mat-menu #tagCategories="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="activity">
            Activities
          </button>
          <button mat-menu-item [matMenuTriggerFor]="character">
            Characters
          </button>
          <button mat-menu-item [matMenuTriggerFor]="crop">Crops</button>
        </mat-menu>

        <mat-menu #activity="matMenu">
          @for (activity of activitiesTags; track activity.tag) {
            <button mat-menu-item (click)="updateSelectedTag(activity.tag)">
              {{ activity.displayName }}
            </button>
          }
        </mat-menu>

        <mat-menu #character="matMenu">
          @for (character of charactersTags; track character.tag) {
            <button mat-menu-item (click)="updateSelectedTag(character.tag)">
              {{ character.displayName }}
            </button>
          }
        </mat-menu>

        <mat-menu #crop="matMenu">
          @for (crop of cropsTags; track crop.tag) {
            <button mat-menu-item (click)="updateSelectedTag(crop.tag)">
              {{ crop.displayName }}
            </button>
          }
        </mat-menu>
        @if (eventForm.errors?.["uniqueTitleTag"]) {
          <mat-error>Event with title and tag already exists</mat-error>
        }
        <br />

        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea
            matInput
            formControlName="description"
            placeholder="Task from adventurers guild."
          ></textarea>
        </mat-form-field>
        <mat-slide-toggle formControlName="isRecurring">
          Recurring
        </mat-slide-toggle>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button type="button" (click)="cancel()" class="btn btn-light">Cancel</button>
  <button
    type="button"
    class="btn btn-primary"
    [disabled]="!eventForm.valid"
    (click)="editEvent()"
  >
    Edit
  </button>
</mat-dialog-actions>
