<h2 mat-dialog-title>Create Calendar</h2>
<mat-dialog-content>
  <form [formGroup]="calendarForm">
    <mat-form-field class="w-100">
      <mat-label>Name</mat-label>
      <input
        type="text"
        matInput
        formControlName="name"
        placeholder="My First Calendar"
      />
      @if (calendarForm.get("name")!.hasError("duplicateName")) {
        <mat-error>Duplicate Name</mat-error>
      }
    </mat-form-field>
    <mat-form-field class="w-100">
      <mat-label>Description</mat-label>
      <textarea
        formControlName="description"
        matInput
        placeholder="Description"
      ></textarea>
    </mat-form-field>
    <section>
      <mat-slide-toggle formControlName="includeBirthdays">
        Include Birthdays
      </mat-slide-toggle>
      <mat-slide-toggle formControlName="includeFestivals">
        Include Festivals
      </mat-slide-toggle>
      <mat-slide-toggle formControlName="includeCrops">
        Include Crops
      </mat-slide-toggle>
    </section>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button type="button" (click)="cancel()" class="btn btn-light">Cancel</button>
  <button
    type="button"
    class="btn btn-primary"
    [disabled]="!calendarForm.valid"
    (click)="createCalendar()"
  >
    Create
  </button>
</mat-dialog-actions>
