.grid-container {
  min-width: 400px;
  padding: 20px;
}

.col {
  outline: solid grey 1px;
  min-width: 50px;
}

.day {
  min-height: 100px;
  height: calc((100vh / 4) - 50px);
  overflow: scroll;
}

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

.day:hover {
  cursor: pointer;
  background-color: rgba(185, 185, 185, 0.5);
}

.day--selected {
  background-color: rgba(185, 185, 185, 0.5);
}
