.host {
  height: 100%;
  width: 100%;
}

.date {
  padding: 0px;
}

.event-icon {
  height: 20px;
  width: 20px;
}

.event:hover {
  cursor: pointer;
  background-color: rgba(185, 185, 185, 0.5);
}

.event--selected {
  background-color: rgba(185, 185, 185, 0.5);
}

.event__content {
  padding: 8px;
}
