<h2 mat-dialog-title>Edit Calendar</h2>
<mat-dialog-content>
  <form [formGroup]="calendarForm">
    <mat-form-field class="w-100">
      <mat-label>Name</mat-label>
      <input
        type="text"
        matInput
        formControlName="name"
        placeholder="My First Calendar"
      />
    </mat-form-field>
    <mat-form-field class="w-100">
      <mat-label>Description</mat-label>
      <textarea
        formControlName="description"
        matInput
        placeholder="Description"
      ></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Year</mat-label>
      <input type="number" matInput formControlName="year" placeholder="1" />
    </mat-form-field>
    <section>
      <mat-slide-toggle formControlName="includeBirthdays">
        Include Birthday
      </mat-slide-toggle>
      <mat-slide-toggle formControlName="includeFestivals">
        Include Festivals
      </mat-slide-toggle>
      <mat-slide-toggle formControlName="includeCrops">
        Include Crops
      </mat-slide-toggle>
    </section>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button
    type="button"
    class="btn btn-primary"
    [disabled]="!calendarForm.valid"
    (click)="editCalendar()"
  >
    Edit
  </button>
</mat-dialog-actions>
