<h2 mat-dialog-title>Select Calendar</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Select an option</mat-label>
    <mat-select [formControl]="availableCalendarsFormControl">
      @for (
        availableCalendar of data.availableCalendars;
        track availableCalendar
      ) {
        <mat-option value="{{ availableCalendar.id }}">
          {{ availableCalendar.name }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field></mat-dialog-content
>
<mat-dialog-actions>
  <button type="button" (click)="cancel()" class="btn btn-light">Cancel</button>
  <button
    class="btn btn-primary"
    [disabled]="!availableCalendarsFormControl.value"
    (click)="confirm()"
  >
    Select
  </button>
</mat-dialog-actions>
